.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1c1c1c;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;

}

.box::before,
.box::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -150px;
  width: 380px;
  height: 420px;
  transform-origin: bottom right;
  background: linear-gradient(0deg,transparent, rgb(4, 169, 210));
  animation: animate 8s linear infinite;
  z-index: 1;
}

.box::after{
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


form{
    position: absolute;
    inset: 2px;
    background: #28292d;
    padding: 50px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

form h2{
    color:rgb(4, 169, 210) ;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.3em;
    font-family: 'poppins', sans-serif;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input,
.inputBox textarea {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: whitesmoke;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  resize: none;
  overflow: hidden;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 0.3em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox textarea:valid~span,
.inputBox textarea:focus~span{
    color: rgb(4, 169, 210);
    transform: translateX(0px) translateY(-40px);
    font-size: 0.75em;
}

input[type="submit"]{
    border: none;
    outline: none;
    padding: 11px 25px ;
    background:rgb(4, 169, 210) ;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top:30px;
    margin-left: 100px;
    transition: 0.8s;
}

input[type="submit"]:hover{
    background-color: #3f5f7b;
}

.inputBox input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #28292d inset !important;
  -webkit-text-fill-color: whitesmoke !important;
  transition: background-color 5000s ease-in-out 0s;
}


